<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow h-75" style="width: 30rem;">
        <div class="card-body">
            <h2 class="card-title text-center">FinanceiroApp</h2>
            <hr>
            <h5 class="card-text text-center " >Cadastre-se!</h5>
            <h5 class="card-text text-center" style="font-weight: 100;">Aproveite nossos serviços!</h5>

            <form action="">
                <h6 for="usuario" class="form-label mt-5 ms-2">Nome</h6>
                <input type="text" class="form-control" name="nome" id="usuario" placeholder="Nome" required>

                <h6 for="senha" class="form-label mt-4 ms-2">Sobrenome</h6>
                <input type="text" class="form-control" name="sobrenome" id="sobrenome" placeholder="Sobrenome"
                    required>

                <h6 for="senha" class="form-label mt-4 ms-2">E-mail</h6>
                <input type="text" class="form-control" name="email" id="email" placeholder="seuemail@mail.com"
                    required>

                <h6 for="senha" class="form-label mt-4 ms-2">Senha</h6>
                <input type="text" class="form-control" name="senha" id="senha" placeholder="******" required>

                <button class="btn btn-dark w-100 mt-5 mb-4" type="submit">LOGIN</button>

            </form>



        </div>
    </div>
</div>