<app-navbar></app-navbar>
@if (loading) {
<app-loading></app-loading>
}

@if ( transacoes){

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12 order-1 order-md-2">
            <h2>Relatório de Lançamentos</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <!---filtro----->
        <div class="col-md-6 order-2 order-md-1">

            <form [formGroup]="form" class="row align-items-end ">
                <h5 class="ms-1  d-none d-md-block">Selecione o filtro para buscar seus lançamentos</h5>

                <div class="col-md-6">
                    <h6 for="tipo" class="form-label ms-1 mt-3">Tipo</h6>
                    <select id="tipo" class="form-select" formControlName="tipo" required>
                        <option selected disabled value="">Selecione o tipo</option>
                        <option value="RECEITA">Receita</option>
                        <option value="DESPESA">Despesa</option>
                    </select>
                </div>

                <div class="col-md-6 ">
                    <h6 for="categoriaId" class="form-label ms-1 mt-3">Categoria</h6>
                    <select id="categoriaId" class="form-select" formControlName="categoriaId" required>
                        <option selected disabled value="">Selecione uma categoria</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">
                            {{ categoria.descricao }}
                        </option>
                    </select>
                </div>

            </form>

            <div class="col-md-12">
                <button (click)="buscarLancamentos()" type="submit" class="btn btn-dark mt-3 w-100">Buscar</button>
            </div>

        </div>

        <!--cards------>
        <div class="col-md-6  d-none d-md-block ">
            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow valores ">
                        <div class="card-body align-content-center text-center">
                            <h5 class="card-title"> <i class="bi bi-dash-circle-fill fs-6 me-3 text-danger"></i>Despesas
                            </h5>
                            <h2> {{ transacoes.totalDespesas | currency:('BRL') }} </h2>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card shadow valores">
                        <div class="card-body align-content-center text-center">
                            <h5 class="card-title"><i
                                    class="bi bi-plus-circle-fill fs-5 ms-1 me-3 text-primary "></i>Receitas
                            </h5>
                            <h2> {{ transacoes.totalReceitas | currency:('BRL') }}</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- VISÍVEL SOMENTE EM MOBILE -->
        <div class="row mt-3 d-flex d-md-none mb-3">
            <div class="col-6">
                <div class="card text-center p-2">
                    <h6 class="mb-1 text-danger"><i class="bi bi-dash-circle"></i> Despesas</h6>
                    <strong>{{ transacoes.totalDespesas | currency:'BRL':'symbol-narrow' }}</strong>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center p-2">
                    <h6 class="mb-1 text-primary"><i class="bi bi-plus-circle"></i> Receitas</h6>
                    <strong>{{ transacoes.totalReceitas | currency:'BRL':'symbol-narrow' }}</strong>
                </div>
            </div>
        </div>

    </div>

    <!---tabela---->

    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
        <div class="card shadow">
            <div class="card-body ">
                <div class="table-responsive">


                    <table class="table table-striped  ">

                        <thead>
                            <tr>
                            
                                    <th></th>
                                    <th class="cabecalho">Data</th>
                                    <th class="cabecalho"> Tipo </th>
                                    <th class=" cabecalho categoria ">Categoria </th>
                                    <th class="cabecalho descricao">Descrição</th>
                                    <th class="cabecalho valor">Valor</th>
                                    <th></th>
                           
                        


                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let transacao of transacoes.transacoes | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                                <th></th>

                                <td>
                                    <span class="d-inline d-md-none">
                                        {{ transacao.dataVencimento | date:'dd/MM' }}
                                    </span>

                                    <span class="d-none d-md-inline">
                                        {{ transacao.dataVencimento| date:'dd-MM-YYYY' }}
                                    </span>

                                </td>

                                <td class="d-none d-md-table-cell">{{transacao.tipo }} </td>

                                <td class="categoria ">
                                    <ng-container [ngSwitch]="transacao.categoria.descricao.toLowerCase()">
                                        <span *ngSwitchCase="'alimentação'"><i class="fa-solid fa-utensils"></i></span>
                                        <span *ngSwitchCase="'cartão de crédito'"><i
                                                class="fa-solid fa-credit-card"></i></span>
                                        <span *ngSwitchCase="'combustível'"><i class="fa-solid fa-gas-pump"></i></span>
                                        <span *ngSwitchCase="'aluguel'"><i class="fa-solid fa-house-user"></i></span>
                                        <span *ngSwitchCase="'saneamento'"><i
                                                class="fa-solid fa-faucet-drip"></i></span>
                                        <span *ngSwitchCase="'energia elétrica'"><i
                                                class="fa-solid fa-lightbulb"></i></span>
                                        <span *ngSwitchCase="'recebimento de vendas'"><i
                                                class="fa-brands fa-pix"></i></span>
                                        <span *ngSwitchDefault></span>
                                    </ng-container>
                                    <span class="d-none d-md-inline">
                                        {{ transacao.categoria.descricao}}
                                    </span>

                                </td>
                                <td class="descricao">{{ transacao.descricao }}</td>

                                <td class="valor">
                                    {{ transacao.tipo === 'RECEITA' ? '+' : '-' }} {{ transacao.valor |
                                    currency: 'BRL' }}
                                </td>

                                <td></td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <pagination-controls previousLabel="Anterior" nextLabel="Próximo" (pageChange)="currentPage = $event"
                class="pagination"></pagination-controls>

        </div>

    </div>
</div>

}