td {
    font-size: 20px;
}


.valor {
    text-align: end;
}

.categoria {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;

}

.descricao {
    max-width: 120px;
    /* ou o valor que couber no seu layout */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

i{
    font-size: 14px;
}

.botao-editar{
  cursor: pointer;
  margin-right: 15px;
  
}

.botao-remover{
  cursor: pointer;
 }

 
@media (max-width: 768px) {
    .categoria {
        width: 5%;
        text-align: center;
    }

    .valor {
        width: auto;
        text-align: end;
    }

    .cabecalho {
        display: none;
    }

    .descricao {
        max-width: 70px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


}
